.mfc-container {
  display: grid;
  grid-template: "header"
    "state"
    "valve-control"
    "status-codes" 1fr
    / auto;
}

.mfc-gas {
  grid-area: header;
  font-size: 1.5em;
  font-weight: bolder;
}

.mfc-title {
  grid-area: header;
  align-self: start;
  justify-self: center;
  font-weight: bold;
}

.mfc-id {
  grid-area: header;
  justify-self: end;
  font-size: .85em;
}

.mfc-state {
  grid-area: state;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 5px;
  align-items: center;
}

.mfc-setpoint-input {
  max-width: 100px;
  justify-self: stretch;
}

.field-descriptor {
  font-size: 0.8em;
  opacity: 0.8;
}

.valve-control {
  grid-area: valve-control;
  border: 1px solid rgba(224, 255, 255, 0.2);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(10, 10, 10, 0.3);
}

.valve-legend {
  font-size: 0.8em;
}

.valve-control-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 36px;
  grid-column-gap: 5px;
}

.status-codes {
  grid-area: status-codes;
  align-items: center;
}
